@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollable */
.scrollable::-webkit-scrollbar {
  width: 8px;
}


/* 设置特定元素的滚动条背景颜色 */
.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

/* 设置特定元素的滚动条滑块颜色 */
.scrollable::-webkit-scrollbar-thumb {
  background: #E3E3E8;
  border-radius: 6px;
}

/* 当鼠标悬停在特定元素的滚动条滑块上时，改变滑块颜色 */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #e2e4e5;
}

